DB_HOST=localhost
DB_PORT=5432
DB_NAME=pukaar
DB_USER=pukaar
DB_PASSWORD=pukaar_secret
JWT_SECRET=change-me-to-a-very-long-secret-key-at-least-256-bits-for-hs256
OTP_MOCK_ENABLED=false
REDIS_HOST=localhost
STORAGE_TYPE=local
RAZORPAY_KEY_ID=rzp_live_TMqobFCD9RUwHg
RAZORPAY_KEY_SECRET=your-key-secret-here
RAZORPAY_WEBHOOK_SECRET=
ADMIN_PHONE=+91XXXXXXXXXX
YOURBULKSMS_ENDPOINT=https://control.yourbulksms.net/api/sendhttp.php
YOURBULKSMS_AUTH_KEY=3837706f696e7437343015
YOURBULKSMS_SENDER=AXPONT
YOURBULKSMS_ROUTE=2
YOURBULKSMS_COUNTRY=0
YOURBULKSMS_DLT_TE_ID=1707177642364901299
